:root {
    --header-font: 'Bricolage Grotesque';
    --body-font: 'IBM Plex Sans';
    --body-color: #0F172A;
    --background-light: #F8F9FA;
    --border-color: #E2E8F0;
}

.wrapper {
    width: clamp(360px, 100%, 1280px);
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 1fr 1fr 200px;
}

nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav h1 {
    font-size: 1.5rem;
}

.navContainer {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.075);
    border: 1px solid var(--border-color);
    padding: 12px;
    width: clamp(300px, 40%, 500px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--header-font);
    font-weight: 600;
    font-size: .9rem;
}

.navContainer a {
    text-decoration: none;
    border-radius: 50px;
}

.nav a {
    background-color: var(--background-light);
}

.heroSection {
    background-color: blue;
}

.projectSection {
    background-color: red;
}

.aboutSection {
    background-color: blueviolet;
}

footer {
    background-color: rgb(179, 255, 0);
    padding: 10px;
}