.wrapper {
    width: clamp(360px, 100%, 1280px);
    height: 100%;
}

.wrapper:-webkit-scrollbar {
    display: none;
}

footer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
    border: 1px solid red;
}

footer h1 {
    background: var(--primary-text);
    font-size: 1.2rem;
    background-clip: text;
    color: transparent;
}

footer p {
    color: var(--primary-text);
    font-size: .7rem;
}

footer img {
    width: 20px;
    animation: glow 1.5s ease-in-out infinite alternate,
                spin 3s linear infinite;
}

.framework {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

@keyframes glow {
    from {
        filter: drop-shadow(1px 1px 10px #61dafb00)
                drop-shadow(1px 1px 8px #61dafb00);
    }
    to {
        filter: drop-shadow(1px 1px 10px #61DAFB)
                drop-shadow(1px 1px 5px #61DAFB);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
