.wrapper {
    width: clamp(360px, 100%, 1280px);
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px auto auto auto auto;
}

.wrapper:-webkit-scrollbar {
    display: none;
}

footer {
    border: 1px solid lime;
    padding: 10px;
}