.heroSection {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.heroSection p {
    color: var(--primary-text);
}

.introH1 {
    background: var(--primary-gradient);
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
    transform: scaleY(0);
    transform-origin: bottom
}

.introP {
    transform: scaleY(0);
}

.heroSection span {
    color: var(--primary-text);
    font-weight: 600;
}

.namePlate {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    width: fit-content;
}

.horizontalLine {
    transform: scaleX(0);
}

.nameplateImg {
    width: 25px;
    border-radius: 50px;
    transform: scaleX(-1);
}

.namePlate .nameplateP{
    font-size: .7rem;
    padding: 3px 8px;
    border-radius: 50px;
    background-color: #F8F9FA;
    color: #121212;
    border-bottom-left-radius: 0px;
}

.contactContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    width: fit-content;
    margin-top: 15px;
}

.contactContainer a {
    -webkit-tap-highlight-color: transparent;
}

.contactContainer .svg {
    width: 16px;
    height: 16px;
}


@keyframes orbit {
    from {
        transform: rotate(0deg)
    }
    to {
        transfrom: rotate(360deg)
    }
}