.heroSection {
    padding: 50px;
}

.heroSection p {
    color: var(--primary-text);

}

.heroSection h1 {
    background: var(--primary-gradient);
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
}

.heroSection span {
    color: var(--primary-text);
    font-weight: 600;
}

.namePlate {
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
}

.namePlate img {
    width: 25px;
    border-radius: 50px;
    transform: scaleX(-1);
}

.namePlate p{
    font-size: .8rem;
    color: var(--primary-text);
    padding: 3px 8px;
    border-radius: 50px;
}

.intro h1 {
    display: inline-block;
}

.intro h1:nth-child(1) {
    margin-right: 5px;
}

.contactContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    width: fit-content;
    margin-top: 15px;
}

.contactContainer a {
    -webkit-tap-highlight-color: transparent;
}

.contactContainer .svg {
    width: 16px;
    height: 16px;
}
