@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --header-font: 'Bricolage Grotesque';
    --body-font: 'IBM Plex Sans';
    --primary-text: #F9FAFB;
    --secondary-text: #D1D5DB;
    --background-dark: #121212;
    --border-color: #374151;
    /* --primary-gradient: linear-gradient(to top left, #1363e4, #7aa8f1, #3B82F6); */
    --primary-gradient: linear-gradient(135deg, #1d4ed8, #3b82f6, #60a5fa);
    --primary-color: #3B82F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
    color: var(--secondary-text);
    user-select: none;
}

h1 {
    font-family: var(--header-font);
    color: var(--primary-text);
}

body {
    background-color: var(--background-dark);
}

body::-webkit-scrollbar {
    display: none;
}

section {
    padding: 20px;
}

html {
    scroll-behavior: smooth;
}