
nav {
    padding: 10px 20px;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 5;
    background: linear-gradient(to bottom, var(--background-dark), transparent);
}

nav .logo {
    background: var(--primary-gradient);
    font-size: 1.4rem;
    background-clip: text;
    color: transparent;
}

.navButton {
    stroke: var(--primary-text);
}





/* TABLET SCREENS  */
@media (min-width: 768px) {

nav .logo {
    font-size: 1.8rem;
}

nav {
    justify-self: center;
    width: 100%;
    justify-content: space-between;
    height: 100px;
    background: linear-gradient(to bottom, var(--background-dark), transparent);
    color: var(--primary-text);
    /* background-color: var(--background-dark);
    box-shadow: 0 0 8px 2px var(--border-color); */
    padding: 20px 30px;
}

.navContainer {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.navContainer a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    transition: .2s ease-in-out;
    height: 35px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}

.navContainer a::before {
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    scale: 0;
    background: var(--primary-gradient);
    transition: .3s ease;
    z-index: -1;
    border-radius: 5px;
}

.navContainer a:hover {
    color: var(--primary-text);
}

.navContainer a:hover::before {
    scale: 1;
}

.cvContainer {
    position: relative;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    border-radius: 50px;
    border: 1px solid var(--border-color);
    gap: 8px;
    overflow: hidden;
}

.cvContainer::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    left: 0;
    background: var(--primary-gradient);
    z-index: -1;
    transition: .3s ease-in-out;
}

.cvContainer:hover::before {
    width: 100%;
}

.cvContainer:hover .icon {
    stroke: var(--primary-text);
}

.cvContainer:hover p {
    color: var(--primary-text);
}

.cvContainer .icon {
    height: 16px;
    width: 16px;
    transition: .3s ease-in-out;
}

.cvContainer p {
    font-size: .8rem;
    font-weight: 500;
    transition: .3s ease-in-out;
}
}