.scrollSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.icon {
    animation: bounce 1s ease-in-out infinite alternate-reverse;

    color: var(--primary-text);
}

.placeholder {
    font-size: 1.3rem;
    background: var(--primary-gradient);
    background-clip: text;
    color: transparent;
}

@keyframes bounce {
    0% {
        transform: translateY(30%);
    }

    100% {
        transform: translateY(-30%);
    }
}