.stackCard {
    background-color: #111827;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: clamp(360px, 50vw, 500px);
    height: calc(300px - 90px);
    overflow: hidden;
    position: relative;
}

.animationContainer {
    position: relative;
    width: 100%;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .carouselContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        flex: 0;
        overflow: hidden;
        perspective: 800px;
        position: relative;
    }

    .carouselContainer::before {
        content: '';
        position: absolute;
        height: 30%;
        width: 100%;
        top: 0;
        z-index: 4;
        display: block;
        background: linear-gradient(to bottom, #111827, transparent);
    }

    .carouselContainer::after {
        content: '';
        position: absolute;
        height: 30%;
        width: 100%;
        bottom: 0;
        z-index: 4;
        display: block;
        background: linear-gradient(to bottom, transparent, #111827);
    }

.logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 35px;
    animation: scroll 20s linear infinite;
    padding-top: 35px;
}

.logoContainer .logos {
    width: 35px;
    height: 35px;
}

.introWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
}

.introContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    overflow: hidden;
}

.introH2 {
    font-size: .9rem;
    text-wrap: nowrap;
    color: var(--primary-text);
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stackIcon {
    height: 18px;
    width: 18px;
    color: var(--primary-text);
}

.stackContainer {
    width: 100%;
    height: 90px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.stackContainer p {
    border: 1px solid var(--border-color);
    border-radius: 3px;
    padding: 2px 5px;
    font-size: .8rem;
}

.showBtn {
    position: absolute;
    bottom: 15px ;
    animation: bounce 1s ease-in-out infinite alternate-reverse;
}
.showBtn .icon {
    height: 20px;
    width: 20px;
}

.bgIcon {
    position: absolute;
    height: 100%;
    width: 100%;
    left: -45%;
}

@keyframes scroll {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(100%);
    }
}

@keyframes burst {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
        opacity: 0;
    }
}

@keyframes bounce {
    to {
        transform: translateY(8px);
    }
}